{% extends 'Blog/base.html' %}
{% block content %}

<body>
    <div class="jumbotron">
        <h2>Please Login:</h2>
        {% if from.errors %}
        <p>Wrong username or password</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% form.as_p %}
            <input type="submit" value="Login" class="btn btn-primary">
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
</body>
{% endblock %}}