.techfont {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bigbrand {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
}

.data {
    border: 1px solid black;
    background-color: rgb(165, 199, 255);
}